alx-backend-javascript/0x00-ES6_basic/0-main.js
alx-backend-javascript/0x00-ES6_basic/1-main.js
alx-backend-javascript/0x00-ES6_basic/2-main.js
alx-backend-javascript/0x00-ES6_basic/3-main.js
alx-backend-javascript/0x00-ES6_basic/4-main.js
alx-backend-javascript/0x00-ES6_basic/5-main.js
alx-backend-javascript/0x00-ES6_basic/6-main.js
alx-backend-javascript/0x00-ES6_basic/7-main.js
alx-backend-javascript/0x00-ES6_basic/8-main.js
alx-backend-javascript/0x00-ES6_basic/9-main.js
alx-backend-javascript/0x00-ES6_basic/10-main.js
alx-backend-javascript/0x00-ES6_basic/11-main.js
alx-backend-javascript/0x00-ES6_basic/12-main.js

alx-backend-javascript/0x00-ES6_basic/node_modules/
alx-backend-javascript/nodesource_setup.sh/